@import '../abstracts';

.card-custom {
  // position: relative;
  margin: 2rem auto;
  background-image: linear-gradient(to bottom left, #1E345E, #19224B);
  border-radius: 5px;
  border: 0;
  padding: .5rem;
  height: 40rem;
  top: 0;
  left: 0;
  width: 100%;

  &__body {
    // position: relative;
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #95C1E1;
    margin: auto;
    border-bottom: 1px solid #121447;
    width: 100%;
  }

}
