$color-primary-light: #205E85;
$color-primary-medium: #21355D;
$color-primary-dark: #162053;

$color-secondary-light: rgb(43, 84, 147);
$color-secondary-dark: rgb(32, 37, 74);

$color-primary-1: #EB6E80;
$color-primary-2: #008F95;
$color-primary-3: #E9B000;
$color-primary-4: #E24E42;

// $color-black: #373737
